<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DomeOfScrollHeader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CEDACC1BB8CFA700DE9E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CEDAE51BB8CFA700DE9E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CEDAF01BB8CFA700DE9E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
